#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 1
#define MARK 2
#define CURSOR 3
#define FUNCTION 4
#define SCROLL 5
#define WIRELESS 6

//mouse cursol

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

//mouse scroll

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

&msc_input_listener {
    speed_up {
        layers = <FUNCTION>;
        input-processors = <&zip_wheel_scaler 3 1>; //スクロールを3倍速にする
    };
};

&trackball_listener {
    scroller {
        layers = <SCROLL>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            //スクロール方向を逆転,,,,,,,,,,,,,,,,,,
            <&zip_xy_to_scroll_mapper>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        JP-on {
            bindings = <&kp LANGUAGE_1>;
            key-positions = <25 26>;
        };

        JP-off {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <24 23>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <23 26>;
        };

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <7 8>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <28 27>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
        };

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <8 9>;
        };

        Home {
            bindings = <&kp HOME>;
            key-positions = <20 21>;
        };

        End {
            bindings = <&kp END>;
            key-positions = <29 28>;
        };
    };

    behaviors {
        re_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    macros {
        BTWinW_lay0: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&macro_wait_time 200>, <&to 0>;

            label = "NEW_MACRO";
        };

        BTMac_lay3: BTMac_lay3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&macro_wait_time 200>, <&to 3>;

            label = "BTMAC_LAY3";
        };

        BTWinP_lay0: BTWin2_lay0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&macro_wait_time 200>, <&to 0>;

            label = "BTWIN2_LAY0";
        };

        BTiPad_lay3: BTiPad_layer3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&macro_wait_time 200>, <&to 3>;

            label = "BTIPAD_LAYER3";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Win_Default {
            bindings = <
&kp Q             &kp W           &kp E           &kp R               &kp T                                       &kp Y  &kp U                &kp I            &kp O            &kp P
&mt LEFT_SHIFT A  &mt LEFT_GUI S  &mt LEFT_ALT D  &mt LEFT_CONTROL F  &kp G                                       &kp H  &mt RIGHT_CONTROL J  &mt RIGHT_ALT K  &mt RIGHT_GUI L  &mt RIGHT_SHIFT MINUS
&kp Z             &kp X           &kp C           &kp V               &kp B                                       &kp N  &kp M                &kp COMMA        &kp PERIOD       &kp SEMICOLON
&trans            &trans          &mo 2           &trans              &mt LEFT_SHIFT SPACE  &mkp MB1    &mkp MB2  &mo 1                       &mo 6            &trans           &trans
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        Win_MarkNumMove {
            bindings = <
&kp NUMBER_1      &kp NUMBER_2       &kp NUMBER_3       &kp NUMBER_4  &kp N5                                      &kp NUMBER_6  &kp N7              &kp N8        &kp N9               &kp N0
&kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp TILDE          &kp EQUAL     &trans                                      &trans        &kp LEFT_ARROW      &kp UP_ARROW  &kp RIGHT_ARROW      &kp DOWN_ARROW
&kp BACKSLASH     &trans             &kp DOUBLE_QUOTES  &kp SLASH     &trans                                      &trans        &kp LC(LEFT_ARROW)  &kp PAGE_UP   &kp LC(RIGHT_ARROW)  &kp PAGE_DOWN
&trans            &trans             &trans             &trans        &mt LEFT_SHIFT SPACE  &mkp MB1    &mkp MB2  &trans                            &trans        &trans               &trans
            >;

            sensor-bindings = <&mouse_scrl SCRL_LEFT SCRL_RIGHT>;
        };

        Win_Func {
            bindings = <
&trans              &kp F7  &kp F8  &kp F9  &kp F10                    &kp LC(LG(F4))      &kp LC(LG(LEFT_ARROW))  &kp LG(TAB)    &kp LC(LG(RIGHT_ARROW))  &kp LA(PRINTSCREEN)
&kp LS(LC(ESCAPE))  &kp F4  &kp F5  &kp F6  &kp F11                    &kp LA(SPACE)       &kp LS(LC(TAB))         &kp LS(LC(T))  &kp LC(TAB)              &kp LC(BACKSPACE)
&trans              &kp F1  &kp F2  &kp F3  &kp F12                    &kp LA(LEFT_ARROW)  &kp LA(RIGHT_ARROW)     &trans         &trans                   &trans
&trans              &trans  &trans  &trans  &trans   &trans    &trans  &trans                                      &trans         &trans                   &trans
            >;

            sensor-bindings = <&re_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        Mac_Default {
            bindings = <
&kp Q             &kp W               &kp E           &kp R           &kp T                                       &kp Y  &kp U            &kp I            &kp O                &kp P
&mt LEFT_SHIFT A  &mt LEFT_CONTROL S  &mt LEFT_ALT D  &mt LEFT_WIN F  &kp G                                       &kp H  &mt RIGHT_WIN J  &mt RIGHT_ALT K  &mt RIGHT_CONTROL L  &mt RIGHT_SHIFT MINUS
&mt LEFT_SHIFT Z  &kp X               &kp C           &kp V           &kp B                                       &kp N  &kp M            &kp COMMA        &kp PERIOD           &kp SEMICOLON
&trans            &trans              &mo 5           &trans          &mt LEFT_SHIFT SPACE  &mkp MB1    &mkp MB2  &mo 4                   &mo 6            &trans               &trans
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        Mac_MarkNumMove {
            bindings = <
&kp NUMBER_1      &kp NUMBER_2       &kp NUMBER_3       &kp NUMBER_4  &kp N5                                      &kp NUMBER_6  &kp N7              &kp N8        &kp N9               &kp N0
&kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp TILDE          &kp EQUAL     &trans                                      &trans        &kp LEFT_ARROW      &kp UP_ARROW  &kp RIGHT_ARROW      &kp DOWN
&kp LA(Y)         &trans             &kp DOUBLE_QUOTES  &kp SLASH     &trans                                      &trans        &kp LA(LEFT_ARROW)  &kp PAGE_UP   &kp LA(RIGHT_ARROW)  &kp PAGE_DOWN
&trans            &trans             &trans             &trans        &mt LEFT_SHIFT SPACE  &mkp MB1    &mkp MB2  &trans                            &trans        &trans               &trans
            >;

            sensor-bindings = <&mouse_scrl SCRL_LEFT SCRL_RIGHT>;
        };

        Mac_Func {
            bindings = <
&kp LC(LG(S))  &kp F7  &kp F8  &kp F9  &kp F10                    &trans              &kp LC(LEFT_ARROW)   &kp LC(UP_ARROW)  &kp LC(RIGHT_ARROW)  &trans
&trans         &kp F4  &kp F5  &kp F6  &kp F11                    &trans              &kp LS(LC(TAB))      &kp LS(LG(T))     &kp LC(TAB)          &kp LA(DELETE)
&trans         &kp F1  &kp F2  &kp F3  &kp F12                    &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)  &trans            &trans               &trans
&trans         &trans  &trans  &trans  &trans   &trans    &trans  &trans                                   &trans            &trans               &trans
            >;

            sensor-bindings = <&re_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        Setting {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                         &trans          &trans  &trans  &trans  &trans
&to 0         &to 3         &to 0         &to 3         &trans                               &trans          &trans  &trans  &trans  &trans
&BTWinW_lay0  &BTMac_lay3   &BTWinP_lay0  &BTiPad_lay3  &trans                               &trans          &trans  &trans  &trans  &bt BT_CLR
&trans        &trans        &trans        &trans        &trans        &trans    &bootloader  &studio_unlock          &trans  &trans  &bt BT_CLR_ALL
            >;

            sensor-bindings = <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };
    };
};
